<%= form_for @product do |f| %>
	<div class="form-group">
		<%= f.label(:name, "Nombre") %>		  		
		<%= f.text_field :name %>
	</div>
	<div class="form-group">
		<%= f.label(:price, "Precio") %>
		 <%= f.number_field :price, step: 0.05 %>
	</div>
	<div class="form-group">
	  	<%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>
	</div>
	<div class="form-group">
	 	<%= f.submit @name, class: "btn btn-primary" %>	
	</div>
<% end %>	